WSRP/Service References/WSRPSpec/wsrp_v1_bindings.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:bind="urn:oasis:names:tc:wsrp:v1:bind" xmlns:intf="urn:oasis:names:tc:wsrp:v1:intf" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:oasis:names:tc:wsrp:v1:bind" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="urn:oasis:names:tc:wsrp:v1:intf" location="wsrp_v1_interfaces.wsdl" />
  <wsdl:types />
  <wsdl:binding name="WSRP_v1_Markup_Binding_SOAP" type="intf:WSRP_v1_Markup_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getMarkup">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:getMarkup" />
      <wsdl:input name="getMarkup">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getMarkupResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDenied">
        <soap:fault use="literal" name="AccessDenied" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidUserCategory">
        <soap:fault use="literal" name="InvalidUserCategory" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InconsistentParameters">
        <soap:fault use="literal" name="InconsistentParameters" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidRegistration">
        <soap:fault use="literal" name="InvalidRegistration" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="MissingParameters">
        <soap:fault use="literal" name="MissingParameters" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault use="literal" name="OperationFailed" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidHandle">
        <soap:fault use="literal" name="InvalidHandle" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCookie">
        <soap:fault use="literal" name="InvalidCookie" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidSession">
        <soap:fault use="literal" name="InvalidSession" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnsupportedMode">
        <soap:fault use="literal" name="UnsupportedMode" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnsupportedWindowState">
        <soap:fault use="literal" name="UnsupportedWindowState" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnsupportedLocale">
        <soap:fault use="literal" name="UnsupportedLocale" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnsupportedMimeType">
        <soap:fault use="literal" name="UnsupportedMimeType" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="performBlockingInteraction">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:performBlockingInteraction" />
      <wsdl:input name="performBlockingInteraction">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="performBlockingInteractionResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDenied">
        <soap:fault use="literal" name="AccessDenied" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidUserCategory">
        <soap:fault use="literal" name="InvalidUserCategory" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InconsistentParameters">
        <soap:fault use="literal" name="InconsistentParameters" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidRegistration">
        <soap:fault use="literal" name="InvalidRegistration" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="MissingParameters">
        <soap:fault use="literal" name="MissingParameters" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault use="literal" name="OperationFailed" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidHandle">
        <soap:fault use="literal" name="InvalidHandle" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="PortletStateChangeRequired">
        <soap:fault use="literal" name="PortletStateChangeRequired" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidCookie">
        <soap:fault use="literal" name="InvalidCookie" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidSession">
        <soap:fault use="literal" name="InvalidSession" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnsupportedMode">
        <soap:fault use="literal" name="UnsupportedMode" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnsupportedWindowState">
        <soap:fault use="literal" name="UnsupportedWindowState" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnsupportedLocale">
        <soap:fault use="literal" name="UnsupportedLocale" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="UnsupportedMimeType">
        <soap:fault use="literal" name="UnsupportedMimeType" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="releaseSessions">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:releaseSessions" />
      <wsdl:input name="releaseSessions">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="releaseSessionsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDenied">
        <soap:fault use="literal" name="AccessDenied" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidRegistration">
        <soap:fault use="literal" name="InvalidRegistration" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="MissingParameters">
        <soap:fault use="literal" name="MissingParameters" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault use="literal" name="OperationFailed" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="initCookie">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:initCookie" />
      <wsdl:input name="initCookie">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="initCookieResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDenied">
        <soap:fault use="literal" name="AccessDenied" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidRegistration">
        <soap:fault use="literal" name="InvalidRegistration" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault use="literal" name="OperationFailed" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSRP_v1_ServiceDescription_Binding_SOAP" type="intf:WSRP_v1_ServiceDescription_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getServiceDescription">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:getServiceDescription" />
      <wsdl:input name="getServiceDescription">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getServiceDescriptionResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRegistration">
        <soap:fault use="literal" name="InvalidRegistration" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault use="literal" name="OperationFailed" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSRP_v1_PortletManagement_Binding_SOAP" type="intf:WSRP_v1_PortletManagement_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getPortletDescription">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:getPortletDescription" />
      <wsdl:input name="getPortletDescription">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPortletDescriptionResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDenied">
        <soap:fault use="literal" name="AccessDenied" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidUserCategory">
        <soap:fault use="literal" name="InvalidUserCategory" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InconsistentParameters">
        <soap:fault use="literal" name="InconsistentParameters" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidRegistration">
        <soap:fault use="literal" name="InvalidRegistration" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="MissingParameters">
        <soap:fault use="literal" name="MissingParameters" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault use="literal" name="OperationFailed" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidHandle">
        <soap:fault use="literal" name="InvalidHandle" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="clonePortlet">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:clonePortlet" />
      <wsdl:input name="clonePortlet">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="clonePortletResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDenied">
        <soap:fault use="literal" name="AccessDenied" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidUserCategory">
        <soap:fault use="literal" name="InvalidUserCategory" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InconsistentParameters">
        <soap:fault use="literal" name="InconsistentParameters" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidRegistration">
        <soap:fault use="literal" name="InvalidRegistration" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="MissingParameters">
        <soap:fault use="literal" name="MissingParameters" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault use="literal" name="OperationFailed" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidHandle">
        <soap:fault use="literal" name="InvalidHandle" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="destroyPortlets">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:destroyPortlets" />
      <wsdl:input name="destroyPortlets">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="destroyPortletsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InconsistentParameters">
        <soap:fault use="literal" name="InconsistentParameters" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidRegistration">
        <soap:fault use="literal" name="InvalidRegistration" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="MissingParameters">
        <soap:fault use="literal" name="MissingParameters" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault use="literal" name="OperationFailed" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setPortletProperties">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:setPortletProperties" />
      <wsdl:input name="setPortletProperties">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="setPortletPropertiesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDenied">
        <soap:fault use="literal" name="AccessDenied" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidUserCategory">
        <soap:fault use="literal" name="InvalidUserCategory" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InconsistentParameters">
        <soap:fault use="literal" name="InconsistentParameters" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidRegistration">
        <soap:fault use="literal" name="InvalidRegistration" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="MissingParameters">
        <soap:fault use="literal" name="MissingParameters" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault use="literal" name="OperationFailed" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidHandle">
        <soap:fault use="literal" name="InvalidHandle" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPortletProperties">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:getPortletProperties" />
      <wsdl:input name="getPortletProperties">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPortletPropertiesResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDenied">
        <soap:fault use="literal" name="AccessDenied" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidUserCategory">
        <soap:fault use="literal" name="InvalidUserCategory" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InconsistentParameters">
        <soap:fault use="literal" name="InconsistentParameters" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidRegistration">
        <soap:fault use="literal" name="InvalidRegistration" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="MissingParameters">
        <soap:fault use="literal" name="MissingParameters" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault use="literal" name="OperationFailed" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidHandle">
        <soap:fault use="literal" name="InvalidHandle" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPortletPropertyDescription">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:getPortletPropertyDescription" />
      <wsdl:input name="getPortletPropertyDescription">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getPortletPropertyDescriptionResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="AccessDenied">
        <soap:fault use="literal" name="AccessDenied" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidUserCategory">
        <soap:fault use="literal" name="InvalidUserCategory" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InconsistentParameters">
        <soap:fault use="literal" name="InconsistentParameters" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidRegistration">
        <soap:fault use="literal" name="InvalidRegistration" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="MissingParameters">
        <soap:fault use="literal" name="MissingParameters" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault use="literal" name="OperationFailed" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="InvalidHandle">
        <soap:fault use="literal" name="InvalidHandle" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSRP_v1_Registration_Binding_SOAP" type="intf:WSRP_v1_Registration_PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="register">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:register" />
      <wsdl:input name="register">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="registerResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="MissingParameters">
        <soap:fault use="literal" name="MissingParameters" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault use="literal" name="OperationFailed" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deregister">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:deregister" />
      <wsdl:input name="deregister">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deregisterResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRegistration">
        <soap:fault use="literal" name="InvalidRegistration" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault use="literal" name="OperationFailed" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modifyRegistration">
      <soap:operation soapAction="urn:oasis:names:tc:wsrp:v1:modifyRegistration" />
      <wsdl:input name="modifyRegistration">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="modifyRegistrationResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="InvalidRegistration">
        <soap:fault use="literal" name="InvalidRegistration" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="MissingParameters">
        <soap:fault use="literal" name="MissingParameters" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="OperationFailed">
        <soap:fault use="literal" name="OperationFailed" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>